.TitleKQ {
    text-align: center;
    font-size: 30px;
    justify-content: center;
    font-weight: bold;
    padding: 12px;
    color: white;
    background-color: #c44569;
}
.Bai1 {
    margin-top: 50px;
    font-size: 20px;
    color: #000;
    background-color: #f8a5c2;
    box-shadow: 0 0 10px 0 #000;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
}

.ContentKQ {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.ContentKQ label {
    width: 30%;
    text-align: start;
}

.InputKQ {
    width: 40%;
    height: 30px;
    margin-left: 10%;
    font-size: 18px;
}
.InputDTB {
    width: 40%;
    height: 30px;
    margin-left: 10%;
    background-color: bisque;
    color: black;
    font-size: 18px;
}

.SubmitKQ {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    padding: 1%;
    background-color: #8395a7;
}

.XemKetQua {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
