.TitleB4 {
    text-align: center;
    font-size: 30px;
    justify-content: center;
    font-weight: bold;
    padding: 12px;
    color: #ffffff;
    background-color: #1C86EE;
    /* margin-bottom: 50px;  */
  }
  
  .Bai4 {
    margin-top: 20px;
    font-size: 20px;
    color: #000;
    background-color:#B9D3EE;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
  }
  
  .Content_B4 {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .Content1_B4 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-align: start;
  }
  .Content1_B4 label {
    width: 15%
    }
  .Content2_B4 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-align: start;
  }

  .Content2_B4 label {
  width: 30%;
  }
  /* .Input_B4 {
    width: 30%;
    height: 30px;
    font-size: 18px;
  } */
  .Input1_B4 {
    width: 60%;
    height: 30px;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 15%;
  }
  .Input2_B4 {
    width: 40%;
    height: 30px;
    font-size: 18px;
    margin-right: 115px;
    margin-top: 5px;
  }
  .Input3_B4 {
    width: 84%;
    height: 30px;
    font-size: 18px;
    margin-top: 15px;
  }
  .Checkbox_B4 {
    margin-left: 25px;
    margin-right: 10px;
  }

  .Submit_B4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: #a0afb0;
  }
  
  .SubmittedContent_B4 {
    background-color: #006699;
    color: white;
    padding-top: 5px;
  }
  
  p {
    margin-left: 25px;
  }
  .SubmittedContent_B4 .content {
    margin-left: 25px;
    padding-bottom: 25px;
  }
  .GhiNhan {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}